/* line 3, ../sass/partials/_base.scss */
body {
  text-align: center;
  background: #2b3a48;
  color: white;
  font-family: 'Raleway', sans-serif;
}

/* line 10, ../sass/partials/_base.scss */
#sectionContainer {
  display: flex;
  flex-wrap: wrap;
}

/* line 15, ../sass/partials/_base.scss */
section {
  flex: 1;
  min-width: 250px;
  margin: 40px 20px;
  padding: 20px 20px 50px 20px;
  border: 1px solid #11181f;
}
/* line 22, ../sass/partials/_base.scss */
section h3 {
  margin-bottom: 2em;
  color: #11181f;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 3, ../sass/partials/_buttons.scss */
button {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  background: none;
  border: none;
  font-size: 18px;
  color: white;
}
/* line 11, ../sass/partials/_buttons.scss */
button:hover {
  color: #4981e6;
}
/* line 14, ../sass/partials/_buttons.scss */
button:focus {
  outline: 0;
}

/* line 3, ../sass/partials/_clickEffect.scss */
button::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: rgba(111, 148, 182, 0.2);
  pointer-events: none;
  transform-origin: center center;
  opacity: 0;
}

/* line 23, ../sass/partials/_clickEffect.scss */
.button-effect-boris.button-clicked::after {
  animation: anim-effect-boris 0.5s forwards;
}

@keyframes anim-effect-boris {
  /* line 27, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
  }

  /* line 31, ../sass/partials/_clickEffect.scss */
  25%, 70% {
    opacity: 1;
  }

  /* line 35, ../sass/partials/_clickEffect.scss */
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
    opacity: 0;
  }
}

/* line 42, ../sass/partials/_clickEffect.scss */
.button-effect-radomir.button-clicked::after {
  animation: anim-effect-radomir 0.5s forwards;
}

@-webkit-keyframes anim-effect-radomir {
  /* line 46, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
    opacity: 1;
  }

  /* line 50, ../sass/partials/_clickEffect.scss */
  30% {
    box-shadow: inset 0 0 0 100px rgba(111, 148, 182, 0.8);
  }

  /* line 53, ../sass/partials/_clickEffect.scss */
  80% {
    box-shadow: inset 0 0 0 1px rgba(111, 148, 182, 0.8);
    opacity: 0.2;
  }

  /* line 57, ../sass/partials/_clickEffect.scss */
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
    opacity: 0;
  }
}

/* line 64, ../sass/partials/_clickEffect.scss */
.button-effect-sanja.button-clicked::after {
  animation: anim-effect-sanja 1s forwards;
}

@keyframes anim-effect-sanja {
  /* line 68, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
  }

  /* line 72, ../sass/partials/_clickEffect.scss */
  50% {
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
    opacity: 1;
  }

  /* line 77, ../sass/partials/_clickEffect.scss */
  100% {
    opacity: 0;
  }
}

/* line 83, ../sass/partials/_clickEffect.scss */
.button-effect-ilinka.button-clicked::after {
  animation: anim-effect-ilinka 0.5s forwards;
}

@keyframes anim-effect-ilinka {
  /* line 90, ../sass/partials/_clickEffect.scss */
  20% {
    opacity: 1;
  }

  /* line 94, ../sass/partials/_clickEffect.scss */
  100% {
    opacity: 0;
  }
}

/* line 100, ../sass/partials/_clickEffect.scss */
.button-effect-nikola.button-clicked::after {
  animation: anim-effect-nikola 0.5s forwards;
}

@keyframes anim-effect-nikola {
  /* line 104, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
  }

  /* line 108, ../sass/partials/_clickEffect.scss */
  50% {
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
    opacity: 1;
  }

  /* line 113, ../sass/partials/_clickEffect.scss */
  100% {
    transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
    opacity: 0;
  }
}

/* line 120, ../sass/partials/_clickEffect.scss */
.button-effect-tamara.button-clicked::after {
  animation: anim-effect-tamara 0.3s forwards;
}

@keyframes anim-effect-tamara {
  /* line 124, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.7, 0.7);
    box-shadow: 0 0 0 25px rgba(111, 148, 182, 0.8);
  }

  /* line 129, ../sass/partials/_clickEffect.scss */
  10% {
    opacity: 0.4;
  }

  /* line 133, ../sass/partials/_clickEffect.scss */
  100% {
    transform: translateX(-50%) translateY(-50%) scale(0.8, 0.8);
    box-shadow: 0 0 10px 100px rgba(111, 148, 182, 0.8);
    opacity: 0;
  }
}

/* line 141, ../sass/partials/_clickEffect.scss */
.button-effect-marko.button-clicked::after {
  animation: anim-effect-marko 0.5s forwards;
}

@keyframes anim-effect-marko {
  /* line 145, ../sass/partials/_clickEffect.scss */
  0% {
    box-shadow: inset 0 0 0 0px rgba(111, 148, 182, 0.8);
    opacity: 0.5;
  }

  /* line 149, ../sass/partials/_clickEffect.scss */
  90% {
    box-shadow: inset 0 0 0 50px rgba(111, 148, 182, 0.8);
  }

  /* line 152, ../sass/partials/_clickEffect.scss */
  100% {
    opacity: 0;
  }
}

/* line 159, ../sass/partials/_clickEffect.scss */
button.button-effect-milan::before,
button.button-effect-milan::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  pointer-events: none;
  transform-origin: center center;
  opacity: 0;
  background: transparent;
  border: 4px solid rgba(111, 148, 182, 0.3);
}

/* line 177, ../sass/partials/_clickEffect.scss */
.button-effect-milan.button-clicked::before {
  animation-name: anim-effect-milan-fade, anim-effect-milan-rotate1;
  animation-duration: 4.5s, 1s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease, linear;
}

/* line 183, ../sass/partials/_clickEffect.scss */
.button-effect-milan.button-clicked::after {
  animation-name: anim-effect-milan-fade, anim-effect-milan-rotate2;
  animation-duration: 4.5s, 1s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease, linear;
}

/* line 190, ../sass/partials/_clickEffect.scss */
.button-effect-milan.button-clicked::before,
.button-effect-milan.button-clicked::after {
  animation-fill-mode: forwards;
}

@keyframes anim-effect-milan-rotate1 {
  /* line 195, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) perspective(1000px) rotate3d(1, 1, 1, 0deg);
  }

  /* line 198, ../sass/partials/_clickEffect.scss */
  100% {
    transform: translateX(-50%) translateY(-50%) perspective(1000px) rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes anim-effect-milan-rotate2 {
  /* line 203, ../sass/partials/_clickEffect.scss */
  0% {
    transform: translateX(-50%) translateY(-50%) perspective(1000px) rotate3d(1, -1, 1, 0deg);
  }

  /* line 206, ../sass/partials/_clickEffect.scss */
  100% {
    transform: translateX(-50%) translateY(-50%) perspective(1000px) rotate3d(1, -1, 1, 360deg);
  }
}

@keyframes anim-effect-milan-fade {
  /* line 211, ../sass/partials/_clickEffect.scss */
  20%, 80% {
    opacity: 1;
  }

  /* line 214, ../sass/partials/_clickEffect.scss */
  100% {
    opacity: 0;
  }
}
